<div class="jumbotron">
  <div class="d-flex justify-content-between">
    <button class="btn btn-lg fas fa-home align-center" onclick="window.location='https://hmartinez20.github.io/STMUmarket/index.html'"></button>
    <h1 class="d-flex justify-content-center align-center"> StMU Marketplace </h1>
  	<img style="width: 5rem; height: 5rem;" src="/STMUmarket/Empty.jpg" alt="User Image" class="img-thumbnail">
  </div>
  <br>
  <div class="btn-group col" role="group">
    <button type="button" class="btn btn-info col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/index.html'">Account Page</button>
    <button type="button" class="btn btn-secondary col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/signup.html'">Sign-Up Page</button>
    <button type="button" class="btn btn-light col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/item.html'">Item Page</button>
    <button type="button" class="btn btn-secondary col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/seller.html'">Seller Page</button>
    <button type="button" class="btn btn-info col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/login.html'">Login Page</button>
  </div>
</div>
